<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid" id="destination">
	<div class="row">
	  <div class="col-md-6 full-dest">
	  <img src="img/full.jpg" />
	  <h3>{{destination.name}}</h3>
	  <p>With a long, weary hoist the jaw is dragged on board, as if it were an anchor; and when the proper time comes&mdash;some few days after the other work&mdash;Queequeg, Daggoo, and Tashtego, being all accomplished dentists, are set to drawing teeth. With a keen cutting-spade, Queequeg lances the gums; then the jaw is lashed down to ringbolts, and a tackle being rigged from aloft, they drag out these teeth, as Michigan oxen drag stumps of old oaks out of wild wood lands. There are generally forty-two teeth in all; in old whales, much worn down, but undecayed; nor filled after our artificial fashion. The jaw is afterwards sawn into slabs, and piled away like joists for building houses.</p>
	  </div>
	  <div class="col-md-6">
	  	<div class="row">
		  	<div class="col-md-6 single-dest" ng-repeat="destination in destinations | limitTo: 4" ng-click="singleDest()">
		  		<img src="img/related-dest.jpg" />
		    	<p>{{destination.name}}</p>
		    </div>
		</div>
	  </div>
	</div>
</div>
</body>
</html>
