body{
background-color: #ececee;
padding: 0 4%;
font-family: 'geometriaregular';
}
#logo{
  width: 13em;
}
img{
  border-radius: 3px;
}
#nav .one-third:nth-child(2){
  text-align: center;
}
#nav .one-third:nth-child(3){
  vertical-align: middle;
}
.one-third{
  width: 33%;
  display: inline-block;
}
#nav img, #nav h4{
  display: inline-block;
}
#nav{
  margin-top: 2em;
}
#nav h4{
  float: right;
}
#nav h4:hover{
  color: #008dc4;
  cursor: pointer;
}
#welcome img{
  width: 100%;
  height: 30em;
}
#get-started{
  text-align: center;
  margin-top: -4em;
}
#get-started h3{
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
  background-color: #008dc4;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
#get-started h3:hover{
  background-color: #2bcdbe;
}
#location-preview{
  text-align: center;
}
#location-preview img{
  width: auto;
}
#location-preview .one-third{
  text-align: center;
}
.thumbnail-dest{
  background-color: #ececee;
  padding: 2em;
  margin:2em;
}
.thumbnail-dest h4{
  margin-top: 2em;
}
#results{
  text-align: center;
}
#results h5{
  font-size: 2em;
  margin: 2em;
}
#results span{
  font-family: 'geometriabold';
}
#back{
  display: inline-block;
  width: 4em;
  margin-top: -1em;
}
.question{
  text-align: center;
}
.question h2{
  display: inline-block;
  margin: 1.5em 0 2em .5em;
}
.preview{
  margin-top: 4em;
  margin-bottom: 2em;
}
.preview img{
  width: 80% !important;
  height: 218px;
  cursor: pointer;
}
#results span{
  color: #1c93e3;
}
#results h2{
  font-family: 'geometriabold';
  padding: 1em;
  background-color: #1c93e3;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
}
#destination{
  margin: 3em;
}
.single-dest{
  text-align: center;
  cursor: pointer;
  margin-bottom: 1em;
}
.full-dest{
  text-align: center;
  font-family: 'geometriabold';
}
.full-dest p{
  text-align: left;
}
.full-dest img{
  width: 100% !important;
}
.single-dest img{
  margin-bottom: 1em;
  width: 75% !important;
}
.single-dest:nth-child(2n+3){
  clear: left;
}
.glyphicon-remove:hover {
  cursor:pointer
}
.col-sm-6:nth-of-type(3n+4){
  clear: left;
}
li{
	list-style-type: none;
}
input[type="radio"]{
	display: none;
}
[ui-view] img{
	width: 12em;
}
#back{
  text-align: center;
  cursor: pointer;
}
.form-group{
	display: inline-block;
	width: 50%;
	text-align: center;
}
label{
	cursor: pointer;
  transition: all 0.3s ease;
}
label:hover{
  transform: scale(1.1);
}
.ui-view-container {
  position: relative;
  background-color: #f7f7f8;
  margin: 3% 0;
}
.well{
	margin-bottom: 0;
  padding: 0;
}
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}