<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

    

      <div class="row question">
        <img src="img/back-button.png" id="back"  ng-if="firstQuestion()" ng-click="removePick()" />
        <h2>{{question.question}}</h2>
      </div>
      <div class="form-group" ng-repeat="answer in answers">
           <label >
            <input name="userpick" type="radio" value="{{answer.groupId}}" ng-model="pick" ng-click="addPick()">
            <img ng-src="img/{{answer.id}}.png" />
            <h4>{{answer.answer}}</h4>
            </label>
      </div>
        

</body>
</html>
