<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="row">
        <h1>{{selected}}</h1>

  <div class="col-sm-6 col-md-4" ng-repeat="answer in allAnswers">
    <div class="thumbnail">
      <div class="caption">
        <h4>{{answer.answer}}</h4>
      </div>
    </div>
  </div>
</div>
</body>
</html>
