<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
	<div id="results">
		<h5>Based on your results you are a <span>{{group[0]}}</span></h5>
		<h2>Here are some spots for you:</h2>
		<div class="row preview">
  			<div class="col-sm-6 col-md-4">
    			<img src="img/thumbnail1.png" ng-click="next()" />
      		</div>
      		<div class="col-sm-6 col-md-4">
    			<img src="img/thumbnail2.png" ng-click="next()" />
      		</div>
      		<div class="col-sm-6 col-md-4">
    			<img src="img/thumbnail3.png" ng-click="next()" />
      		</div>
    	</div>
    	<!-- <div class="form-group" ng-if="captureEmail()">
           <label>
            <input name="email" type="email" value="pick" ng-model="pick">
            </label>
      </div> -->
  </div>
</body>
</html>
